* {
  margin: 0;
}

body {
  /* background-color: black; */
  background-image: url('/images/star-wars-space-background.jpg');
  color: white;
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: red;
}

h2 {
  color: rgb(228, 245, 120);
}

img {
  width: 20rem;
}

/* navbar */
#navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  padding: 10px;
}

/* sections */
section {
  background-color: rgb(21, 21, 21);
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 55%;
  margin: 40px auto;
}

/* characters section */
.character-content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  margin: 20px 0;
}

.char-info {
  text-align: center;
  margin: 20px 150px;
}

/* buttons */
#previous-button {
  border: 2px solid red;
  color: white;
  background-color: transparent;
  padding: 8px 15px;
  border-radius: 25px;
  margin: 0 5px;
}

#previous-button:hover {
  /* Glow on Hover */
  background: red;
  box-shadow: 0 0 20px 5px red, /* Inner Glow */
              0 0 40px 10px red; /* Outer Color Glow */
}

#next-button {
  border: 2px solid #24b624;
  color: white;
  background-color: transparent;
  padding: 8px 15px;
  border-radius: 25px;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s;
}

#next-button:hover {
  /* Glow on Hover */
  background: #24b624;
  box-shadow: 0 0 20px 5px #24b624, /* Inner Glow */
              0 0 40px 10px #24b624; /* Outer Color Glow */
}

/* film section */
.film-content {
  display: grid;
  grid-template-columns: repeat(1, auto);
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

/* footer */
.footer {
  text-align: center;
}